<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Extend_Warranty::extendSync"
                          title="Extend Admin Actions"
                          translate="title"
                          sortOrder="200" >
                    <resource id="Extend_Warranty::product_manual_sync"
                              title="Manual Customer Sync"
                              translate="title"
                              sortOrder="10"/>
                    <resource id="Extend_Warranty::refund_warranty"
                              title="Refund Warranty"
                              translate="title"
                              sortOrder="20"/>
                    <resource id="Extend_Warranty::warranty_admin_add"
                              title="Add Warranty from Admin"
                              translate="title"
                              sortOrder="30"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
