<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <warranty>
            <version>
               <tag>2.2.8</tag>
            </version>
            <enableExtend>
                <enable>0</enable>
                <enableBalance>1</enableBalance>
                <enableCartOffers>1</enableCartOffers>
                <enableAdminOffers>1</enableAdminOffers>
                <enableRefunds>1</enableRefunds>
                <enableLeads>1</enableLeads>
                <logging_enabled>1</logging_enabled>
            </enableExtend>
            <contracts>
                <create>2</create>
                <mode>0</mode>
                <event>1</event>
                <cron>
                    <frequency>*/5 * * * *</frequency>
                </cron>
                <batch_size>25</batch_size>
                <storage_period>30</storage_period>
                <auto_refund_enabled>1</auto_refund_enabled>
            </contracts>
            <send_orders>
                <enable_cron>1</enable_cron>
                <cron>
                    <frequency>0 * * * *</frequency>
                </cron>
                <batch_size>25</batch_size>
            </send_orders>
            <offers>
                <pdp_enabled>1</pdp_enabled>
                <products_list_enabled>1</products_list_enabled>
                <interstitial_cart_enabled>1</interstitial_cart_enabled>
                <leads_modal_enabled>1</leads_modal_enabled>
                <order_offers_enabled>1</order_offers_enabled>
            </offers>
            <products>
                <batch_size>100</batch_size>
                <enable_cronjob>0</enable_cronjob>
                <cron>
                    <frequency>0 0 * * *</frequency>
                </cron>
            </products>
            <historical_orders>
                <batch_size>10</batch_size>
                <cron_sync_enabled>0</cron_sync_enabled>
                <cron>
                    <frequency>0 * * * *</frequency>
                </cron>
            </historical_orders>
            <tracking>
                <enabled>1</enabled>
            </tracking>
            <authentication>
                <api_url>https://api.helloextend.com/</api_url>
                <sandbox_api_url>https://api-demo.helloextend.com/</sandbox_api_url>
            </authentication>
        </warranty>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
    </default>
</config>