<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Extend Warranty
 *
 * @author      Extend Magento Team <magento@guidance.com>
 * @category    Extend
 * @package     Warranty
 * @copyright   Copyright (c) 2022 Extend Inc. (https://www.extend.com/)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Adminhtml\Product"
                type="Extend\Warranty\Block\Adminhtml\Product" />

    <preference for="Extend\Warranty\Api\SyncInterface"
                type="Extend\Warranty\Model\Product\Sync"/>

    <preference for="Extend\Warranty\Api\ConnectorInterface"
                type="Extend\Warranty\Model\Api\Connector"/>

    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="addSkuToJsonConfig"
                type="Extend\Warranty\Plugin\Block\Product\View\Type\Configurable"
                sortOrder="10" />
    </type>

    <type name="Magento\Catalog\Helper\Product\Configuration">
        <plugin name="GetCustomOptionsPlugin"
                type="Extend\Warranty\Plugin\Catalog\Helper\Product\Configuration\GetCustomOptionsPlugin"
                sortOrder="10" />
    </type>

    <virtualType
            name="Extend\Warranty\Model\ResourceModel\Indexer\Price"
            type="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\DefaultPrice"/>

    <virtualType name="ProductSyncLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/extend/sync.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="ProductSyncVirtualInfoLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">ProductSyncLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Extend\Warranty\Model\Api\Sync\Product\ProductsRequest">
        <arguments>
            <argument name="syncLogger" xsi:type="object">ProductSyncVirtualInfoLogger</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Controller\Adminhtml\Products\Sync">
        <arguments>
            <argument name="dateTime" xsi:type="object">Magento\Framework\Stdlib\DateTime\Proxy</argument>
            <argument name="date" xsi:type="object">Magento\Framework\Stdlib\DateTime\DateTime\Proxy</argument>
            <argument name="syncLogger" xsi:type="object">ProductSyncVirtualInfoLogger</argument>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Controller\Adminhtml\Orders\HistoricalOrders">
        <arguments>
            <argument name="syncLogger" xsi:type="object">ProductSyncVirtualInfoLogger</argument>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Model\HistoricalOrdersSyncProcess">
        <arguments>
            <argument name="syncLogger" xsi:type="object">ProductSyncVirtualInfoLogger</argument>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Cron\SendOrders">
        <arguments>
            <argument name="syncLogger" xsi:type="object">ProductSyncVirtualInfoLogger</argument>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>

    <type name="\Extend\Warranty\Model\Product\Type">
        <arguments>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Model\ProductSyncProcess">
        <arguments>
            <argument name="dateTime" xsi:type="object">Magento\Framework\Stdlib\DateTime\Proxy</argument>
            <argument name="date" xsi:type="object">Magento\Framework\Stdlib\DateTime\DateTime\Proxy</argument>
            <argument name="syncLogger" xsi:type="object">ProductSyncVirtualInfoLogger</argument>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Console\Command\SyncProducts">
        <arguments>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="dataHelper" xsi:type="object">Extend\Warranty\Helper\Api\Data\Proxy</argument>
            <argument name="flagManager" xsi:type="object">Magento\Framework\FlagManager\Proxy</argument>
            <argument name="productSyncProcess"
                      xsi:type="object">Extend\Warranty\Model\ProductSyncProcess\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="extendWarrantySyncProductsCommand"
                        xsi:type="object">Extend\Warranty\Console\Command\SyncProducts</item>
                <item name="extendWarrantyCreateWarrantyContractCommand"
                      xsi:type="object">Extend\Warranty\Console\Command\CreateContracts</item>
                <item name="extendWarrantyResetProductSyncFlagCommand"
                      xsi:type="object">Extend\Warranty\Console\Command\ResetProductSyncFlag</item>
                <item name="extendWarrantyCreateWarrantyProductCommand"
                      xsi:type="object">Extend\Warranty\Console\Command\CreateWarrantyProduct</item>
            </argument>
        </arguments>
    </type>

    <!-- Magento 2.3.7 php7.4 varnish case  -->
    <type name="Extend\Warranty\Console\Command\SyncProducts">
        <arguments>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="dataHelper" xsi:type="object">Extend\Warranty\Helper\Api\Data\Proxy</argument>
            <argument name="flagManager" xsi:type="object">Magento\Framework\FlagManager\Proxy</argument>
            <argument name="productSyncProcess" xsi:type="object">Extend\Warranty\Model\ProductSyncProcess\Proxy</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface\Proxy</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Console\Command\CreateContracts">
        <arguments>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="dataHelper" xsi:type="object">Extend\Warranty\Helper\Api\Data\Proxy</argument>
            <argument name="flagManager" xsi:type="object">Magento\Framework\FlagManager\Proxy</argument>
            <argument name="productSyncProcess" xsi:type="object">Extend\Warranty\Model\ProductSyncProcess\Proxy</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface\Proxy</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Console\Command\ResetProductSyncFlag">
        <arguments>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="flagManager" xsi:type="object">Magento\Framework\FlagManager\Proxy</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface\Proxy</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Console\Command\CreateWarrantyProduct">
        <arguments>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>
    <!-- Magento 2.3.7 php7.4 varnish case  -->

    <virtualType name="WarrantyAddLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/extend/addWarranty.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="WarrantyAddVirtualInfoLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">WarrantyAddLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Extend\Warranty\Observer\Warranty\AddToCart">
        <arguments>
            <argument name="logger" xsi:type="object">WarrantyAddVirtualInfoLogger</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Controller\Cart\Add">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="logger" xsi:type="object">WarrantyAddVirtualInfoLogger</argument>
        </arguments>
    </type>

    <virtualType name="ExtendLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/extend.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="ExtendLogger" type="Extend\Warranty\Model\Logger">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">ExtendLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Extend\Warranty\Model\Api\Sync\AbstractRequest">
        <arguments>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Block\Tracking">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Helper\Tracking">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product\Attribute\Backend\Price">
        <plugin name="warranty" type="Extend\Warranty\Model\Plugin\PriceBackend" sortOrder="110" />
    </type>

    <type name="Extend\Warranty\Block\System\Config\Products\Button">
        <arguments>
            <argument name="timezone"
                      xsi:type="object">Magento\Framework\Stdlib\DateTime\TimezoneInterface\Proxy</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Model\ContractCreateProcess">
        <arguments>
            <argument name="dateTime" xsi:type="object">Magento\Framework\Stdlib\DateTime\Proxy</argument>
            <argument name="date" xsi:type="object">Magento\Framework\Stdlib\DateTime\DateTime\Proxy</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Console\Command\CreateContracts">
        <arguments>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="dataHelper" xsi:type="object">Extend\Warranty\Helper\Api\Data\Proxy</argument>
            <argument name="contractCreateProcess"
                      xsi:type="object">Extend\Warranty\Model\ContractCreateProcess\Proxy</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\Console\Command\ResetProductSyncFlag">
        <arguments>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="flagManager" xsi:type="object">Magento\Framework\FlagManager\Proxy</argument>
        </arguments>
    </type>

    <type name="Extend\Warranty\ViewModel\Warranty">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="request" xsi:type="object">Magento\Framework\App\Request\Http\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="extend_warranty_plugin_order_item_repository_interface_plugin"
                type="Extend\Warranty\Plugin\Api\OrderItemRepositoryInterfacePlugin" sortOrder="10" />
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="extend_warranty_plugin_order_repository_interface_plugin"
                type="Extend\Warranty\Plugin\Api\OrderRepositoryInterfacePlugin" sortOrder="10" />
    </type>

    <type name="Magento\Quote\Api\CartItemRepositoryInterface">
        <plugin name="extend_warranty_plugin_quote_repository_interface_plugin"
                type="Extend\Warranty\Plugin\Quote\Item\ItemDataPlugin"
                sortOrder="10" />
    </type>

    <type name="Magento\Quote\Api\GuestCartItemRepositoryInterface">
        <plugin name="extend_warranty_plugin_guest_quote_repository_interface_plugin"
                type="Extend\Warranty\Plugin\Quote\Item\GuestItemDataPlugin"
                sortOrder="10" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="extend_warranty_plugin_quote_extension_attributes"
                type="Extend\Warranty\Plugin\Quote\Model\Item\SetItemDataPlugin"
                sortOrder="10" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="extend_warranty_plugin_quote_item_conversion"
                type="Extend\Warranty\Plugin\Quote\Model\Item\SetItemDataToOrderPlugin"
                sortOrder="10" />
    </type>

    <type name="Extend\Warranty\Model\Logger">
        <plugin name="extend_warranty_logger_plugin"
                type="Extend\Warranty\Plugin\Logger\LoggerPlugin"
                sortOrder="10" />
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="extend_warranty_disallow_to_reorder"
                type="Extend\Warranty\Plugin\Sales\Model\OrderPlugin"
                sortOrder="10" />
    </type>
    <type name="Extend\Warranty\Model\WarrantyRelation">
        <arguments>
            <argument xsi:type="array" name="relationProcessors">
                <item name="default" xsi:type="object">Extend\Warranty\Model\RelationProcessor\DefaultProcessor</item>
                <item name="configurable" xsi:type="object">Extend\Warranty\Model\RelationProcessor\ConfigurableProcessor</item>
            </argument>
        </arguments>
    </type>


    <type name="\Extend\Warranty\Model\Api\Request\LineItemBuilder">
        <arguments>
            <argument xsi:type="array" name="lineItemBuilders">
                <item name="warranty" xsi:type="object">\Extend\Warranty\Model\Api\Request\LineItem\WarrantyContractLineItemBuilder</item>
                <item name="warranty_lead" xsi:type="object">\Extend\Warranty\Model\Api\Request\LineItem\WarrantyLeadContractLineItemBuilder</item>
                <item name="lead" xsi:type="object">\Extend\Warranty\Model\Api\Request\LineItem\LeadLineItemBuilder</item>
            </argument>
        </arguments>
    </type>


</config>
