<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Extend Warranty
 *
 * @author      Extend Magento Team <magento@guidance.com>
 * @category    Extend
 * @package     Warranty
 * @copyright   Copyright (c) 2021 Extend Inc. (https://www.extend.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_commit_after">
        <observer name="extend_warranty_create_warranty_shipment_after_observer"
                  instance="Extend\Warranty\Observer\ContractCreate\ShipmentObserver" />
    </event>
    <event name="sales_order_creditmemo_refund">
        <observer name="extend_warranty_request_refund_observer"
                  instance="Extend\Warranty\Observer\RequestRefundObserver" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="extend_warranty_create_order_observer" instance="Extend\Warranty\Observer\CreateOrder"/>
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="extend_warranty_create_warranty_invoice_after_observer"
                  instance="Extend\Warranty\Observer\ContractCreate\InvoiceObserver"/>
    </event>
    <event name="checkout_cart_product_add_before">
        <observer name="extend_warranty_add_to_cart"
                  instance="Extend\Warranty\Observer\AddToCart" />
    </event>

    <event name="order_cancel_after">
        <observer name="extend_warranty_order_cancel"
                  instance="Extend\Warranty\Observer\CancelOrder" />
    </event>
</config>
