<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Extend Warranty
 *
 * @author      Extend Magento Team <magento@guidance.com>
 * @category    Extend
 * @package     Warranty
 * @copyright   Copyright (c) 2022 Extend Inc. (https://www.extend.com/)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="warranty_price" xsi:type="array">
                    <item name="class"
                          xsi:type="string">Extend\Warranty\Ui\DataProvider\Product\Form\Modifier\WarrantyPrice</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Catalog\Controller\Adminhtml\Product\NewAction">
        <plugin name="DisableCreateNewWarrantyPlugin"
            type="Extend\Warranty\Plugin\Catalog\Controller\Adminhtml\Product\NewAction\DisableCreateNewWarrantyPlugin"
            sortOrder="10" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="extend_warranty_check_quote_item" type="\Extend\Warranty\Plugin\Quote\ItemPlugin"/>
    </type>
    <type name="\Extend\Warranty\Controller\Adminhtml\Warranty\Add">
        <arguments>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>

    <type name="\Extend\Warranty\Controller\Adminhtml\Warranty\Leads">
        <arguments>
            <argument name="logger" xsi:type="object">ExtendLogger</argument>
        </arguments>
    </type>
</config>
